<div id="cont">
  <ul id="bar">
    <li>
      <div class="elem logo">
        <img src="../assets/logo.jpg" style="height:150px;"/>
      </div>
    </li>
    <li>
      <div class="elem"><a routerLink="/">Bet</a></div>
    </li>
    <li>
      <div class="elem"><a href="map.html">Map</a></div>
    </li>
    <li>
      <div class="elem"><a routerLink="/about">About</a></div>
    </li>
    <li>
      <div class="elem"><a routerLink="/news">News</a></div>
    </li>
  </ul>
</div>

<body>
<router-outlet></router-outlet>
</body>
