<div id="cont">
  <ul id="bar">
    <li>
      <div class="elem logo">
        <img src="../assets/logo.jpg" style="height:150px;"/>
      </div>
    </li>
    <li>
      <div class="elem"><a href="index.html">Bet</a></div>
    </li>
    <li>
      <div class="elem"><a href="BisonWWF/map.html">Map</a></div>
    </li>
    <li>
      <div class="elem"><a href="BisonWWF/about.html">About Bisons</a></div>
    </li>
    <li>
      <div class="elem"><a href="BisonWWF/news.html">News</a></div>
    </li>
  </ul>
</div>

<body>

<app-home></app-home>
</body>
