h1 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 40px;
  margin-top: -10px;
  padding-bottom: 20px;
}

.bisonContainer {
  width: 80%;
  margin: auto;
}

#betButton {
  font-size: 24px;
  background-color: #E6E4D6;
  border: 1px solid black;
  font-family: sans-serif;
}
